{% extends "page.html" %}

{% block content %}

	<h1>Search results</h1>
	<p>A search for the terms {{ _search_keywords(search_results) }} returned:</p>
	{{ _search_results(search_results) }}

	<h3>About search</h3>
	<p>The search functionality breaks all queries down into individual terms (a-Z and 0-9 only). Each term is searched for separately and compiled into a weighted result. Searches are inclusive as possible, erring on the side of false positives.</p>

{% endblock %}

{% macro _search_keywords(search_results) %}
	{% for keyword in search_results.keywords %}
		<code>{{ keyword }}</code>
	{% endfor %}
{% endmacro %}

{% macro _search_results(search_results) %}
	{% set matches = search_results.matches %}

	<ul class="search_results">
		{% if not matches %}
			<li><strong>No results found</strong></li>
		{% else %}
			{% for match in matches %}
				<li>
					<a href="/{{match}}">{{match}}</a>
				</li>
			{% endfor %}
		{% endif %}
	</ul>
{% endmacro %}
