/* Fonts */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		 url('../fonts/OpenSans-Light.woff') format('woff'),
		 url('../fonts/OpenSans-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		 url('../fonts/OpenSans-Regular.woff') format('woff'),
		 url('../fonts/OpenSans-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
		 url('../fonts/OpenSans-Semibold.woff') format('woff'),
		 url('../fonts/OpenSans-Semibold.ttf')  format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		 url('../fonts/OpenSans-Bold.woff') format('woff'),
		 url('../fonts/OpenSans-Bold.ttf')  format('truetype');
}


/* Universals */

html, body {
	background: #f2f2f2;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-smooth: always;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

h1, h2 {
	margin: 1em 0px;
}

	h1 {
		font: 600 30px/30px 'Open Sans', sans-serif;
		margin-top:0px;
	}

h3, h4, h5, h6 {
	margin: 1.5em 0px;
}

form,
input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

input:focus {
	outline: none;
}

code, pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
	color: #d14;
	color: #bf1f47;
	font-size: 14px;
	white-space: nowrap
}

pre {
	background: #303030;
	color: #fff;
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 10px;
	padding: 30px;
	white-space: pre-wrap;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
}

a.code,
a.code code {
	color: #d14;
	/* text-decoration: none; */
}

a {
	color: #d14;
}


/* Structure */

.wrapper {
	width: 100%;
}

#wrapper-banner {
	background: #fff;
}

	#banner {
		margin: 0px auto;
		padding: 30px 0px 20px 0px;
	}

		#container-banner {
			border-radius: 5px;
			margin: 40px 0px 0px -20px;
			padding: 20px 20px 20px 20px;
		}

#wrapper-features {
	background: #f2f2f2;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;

	background: #282828;
	border-bottom: 12px solid #333;
	border-top: 12px solid #333;
	color: #fff;
	padding: 40px 0px;
}

	#features {

	}

#wrapper-about {
	background: #fff;
	padding: 80px 0px 40px 0px;
}

	#about {

	}

#wrapper-setup {
	background: #fff;
	padding: 40px 0px;
}

	#setup {

	}

#wrapper-faq {
	background: #fff;
	padding: 40px 0px;
}

	#faq {

	}


/* Banner Content */

#banner h1 {
	font: 600 40px/40px 'Open Sans', 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-transform: lowercase;
}

#banner h2 {
	font: 600 20px/20px 'Open Sans', 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

#banner p.subtext {
	font: 300 20px/1.3em 'Open Sans', 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
	margin: 0px 0px 40px 0px;
	padding: 0px;
}

#banner p.actions {
	margin: 0px;
	padding: 0px;
}

	#banner a.download-button {
		background: #da3958;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
		font: 700 14px/14px 'Open Sans', 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
		letter-spacing: 2px;
		margin: 0px 14px 0px 0px;
		padding: 18px 24px;
		text-decoration: none;
		text-transform: uppercase;
	}

		#banner a.download-button:hover {
			background: #c92847;
		}

	#banner a.repo{
		border-bottom: 1px solid #888;
		color: #181818;
		display: inline-block;
		font: 400 16px/16px 'Open Sans', 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
		padding: 0px 0px 1px 0px;
		text-decoration: none;
	}


/* Features Content */

div.feature{

}

	#features h4 {
		font: 700 17px/22px 'Open Sans', 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
		text-align: left;
		margin: 20px 0px 1.0em 0px;
	}

	#features p{
		font: 400 15px/22px 'Open Sans', 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
		margin: 0px 0px 20px 0px;
	}


/* FAQ Content */

#faq dl {
	margin: 30px 0px 30px 0px;
}

	#faq dl dt {
		font-weight: 600;
		margin: 0px 0px 0em 0px;
	}

	#faq dl dd {
		color: #585858;
		margin: 0px;
		padding: 0px 0px 0px 0px;
	}
