<!DOCTYPE html>
<html>
<head>

	<!-- Title -->
	<title>{{ page_title }}</title>

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/favicon.png" />
	
	<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Styles -->
	<link rel="stylesheet" href="/static/css/skeleton.css" media="all"/>
	<link rel="stylesheet" href="/static/css/main.css" media="all"/>
	<link rel="stylesheet" href="/static/css/pygments.css" media="all"/>

	<!-- Scripts -->
	<script type="text/javascript" src="/static/js/library.js"></script>
	<script type="text/javascript" src="/static/js/common.js"></script>

</head>

<body class="{{ body_class }}">

	<header class="wrapper">

		<div class="clearfix" id="header-content">

			<a class="logo" href="/">Simple Docs<span>Flat-file, markdown powered, documentation</span></a>

			% import 'nav.html' as nav
			{{ nav.main(nav_items) }}

		</div>
		<!-- % include "search.html" -->

	</header>

	<section class="wrapper" id="wrapper-banner">

		<div class="pagetitle">
			<div class="wrapper">Documentation</div>
		</div>

	</section>

	<section class="wrapper" id="wrapper-main">

		<div class="clearfix" id="main">

			<div id="sidebar">
				{{ nav.side(nav_items) }}
			</div>

			<div id="content">

				<section>
					{{ content|safe }}
				</section>

			</div>

		</div>

	</section>

	<section id="footer-banner">

		<div class="clearfix" id="footer-banner-content">
			<ul>
				<li class="title">Title One</li>
				<li><a href="http://docs.python.org/3/">Python 3 Documentation</a></li>
				<li><a href="http://www.reddit.com/r/python">Python Subreddit</a></li>
			</ul>
			<ul>
				<li class="title">Title Two</li>
				<li><a href="http://docs.python.org/3/">Python 3 Documentation</a></li>
				<li><a href="http://www.reddit.com/r/python">Python Subreddit</a></li>
			</ul>
			<ul>
				<li class="title">Title Three</li>
				<li><a href="http://docs.python.org/3/">Python 3 Documentation</a></li>
				<li><a href="http://www.reddit.com/r/python">Python Subreddit</a></li>
			</ul>
		</div>

	</section>

	<footer class="wrapper">

		<div id="footer-content">
			Design by <a href="http://www.blazrobar.com">Blaz Robar</a> and <a href="https://github.com/simoncoulton">Simon Coulton</a>
		</div>

	</footer>

</body>
