<!DOCTYPE html>
<html>
<head>
	{% include "structure/head.html" %}

	{% block head %}
	{% endblock %}
</head>

<body class="{{ body_class }}">

	<header class="wrapper">

		<div class="clearfix" id="header-content">

			<a class="logo" href="/">Simple Docs<span>Flat-file, markdown powered, documentation</span></a>

			{% include "structure/search.html" %}

		</div>

	</header>

	<section class="wrapper" id="wrapper-banner">

		<div class="clearfix" id="banner">

			<h3>Documentation</h3>

			{% import 'structure/nav.html' as nav %}
			{{ nav.main(nav_items) }}

		</div>

	</section>

	<section class="wrapper" id="wrapper-main">

		<div class="clearfix" id="main">

			<div id="sidebar">
				{{ nav.side(nav_items) }}
			</div>

			<div id="content">
				{% block content %}
					{{ content|safe }}
				{% endblock %}
			</div>

		</div>

	</section>

	<section id="footer-banner">

		<div class="clearfix" id="footer-banner-content">
			<ul>
				<li class="title">Title One</li>
				<li><a href="http://docs.python.org/3/">Python 3 Documentation</a></li>
				<li><a href="http://www.reddit.com/r/python">Python Subreddit</a></li>
			</ul>
			<ul>
				<li class="title">Title Two</li>
				<li><a href="http://docs.python.org/3/">Python 3 Documentation</a></li>
				<li><a href="http://www.reddit.com/r/python">Python Subreddit</a></li>
			</ul>
			<ul>
				<li class="title">Title Three</li>
				<li><a href="http://docs.python.org/3/">Python 3 Documentation</a></li>
				<li><a href="http://www.reddit.com/r/python">Python Subreddit</a></li>
			</ul>
		</div>

	</section>

	<footer class="wrapper">

		<div id="footer-content">
			Design by <a href="http://www.blazrobar.com">Blaz Robar</a> and <a href="https://github.com/simoncoulton">Simon Coulton</a><br/>
			Code by <a href="http://github.com/chrislaskey">Chris Laskey</a>
		</div>

	</footer>

</body>
