<!DOCTYPE html>
<html>
<head>
	{% include "structure/head.html" %}

	{% block head %}
	{% endblock %}
</head>

<body class="{{ body_class }}">

	<section class="wrapper" id="wrapper-main">

		<div class="clearfix container" id="main">

			<div class="twelve columns" id="container-content">
				<div id="content">
					{% block content %}
						{{ content|safe }}
					{% endblock %}
				</div>
			</div>

			<div class="four columns" id="container-sidebar">
				<div id="sidebar">
					{% include "structure/search.html" %}
					{% import 'structure/nav.html' as nav %}
					{{ nav.main(nav_items) }}
					{{ nav.side(nav_items) }}
				</div>
			</div>

		</div>

	</section>

	<footer class="wrapper">

		<div class="container" id="footer-content">
			<div class="sixteen columns alpha">
				<a class="logo" href="http://github.com/chrislaskey/simple-docs.py">Simple Docs<span>Flat-file, markdown powered, documentation</span></a>
			</div>
		</div>

	</footer>

</body>
