<!DOCTYPE html>
<html>
<head>
	{% include "structure/head.html" %}

	{% block head %}
	{% endblock %}
</head>

<body class="{{ page["body_class"] }}">

	<header class="wrapper">

		<div class="container" id="header-container">
			<div class="sixteen columns" id="header-content">
				<a id="logo" href="{{ page["header_link"] }}">{{ page["header_title"] }}</a>
				<a id="button-resize" class="icon icon-content" href="#" title="Expand/Contract Content Size">Expand / Contract Content Size</a>
			</div>
		</div>

	</header>

	<section class="wrapper" id="wrapper-main">

		<div class="clearfix container" id="main">

			<div class="twelve columns" id="container-content">
				<div id="content">
					{% block content %}
						{{ content|safe }}
					{% endblock %}
				</div>
			</div>

			<div class="four columns" id="container-sidebar">
				<div id="sidebar">
					{% include "structure/search.html" %}
					{% import 'structure/nav.html' as nav %}
					{{ nav.main(nav_items) }}
					{{ nav.side(nav_items) }}
				</div>
			</div>

		</div>

	</section>

</body>
